[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-allauth = "*"
environs = {extras = ["django"], version = "*"}
djangorestframework = "*"
django-cors-headers = "*"
dj-rest-auth = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
django-filter = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
